<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hoangpro.androidnetworkingapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".lab.lab3.PostActivity"></activity>
        <activity android:name=".lab.lab2.Lab2Task4Activity" />
        <activity android:name=".lab.lab2.Lab2Task3Activity" />
        <activity android:name=".lab.lab2.Lab2Task2Activity" />
        <activity android:name=".lab.lab2.Lab2Task1Activity" />
        <activity android:name=".lab.lab2.Lab2Activity" />
        <activity android:name=".lab.lab1.Lab1Task4Activity" />
        <activity android:name=".lab.lab1.Lab1Task3Activity" />
        <activity android:name=".lab.lab1.Lab1Task2Activity" />
        <activity android:name=".lab.lab1.Lab1Task1Activity" />
        <activity android:name=".lab.lab1.Lab1Activity" />
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>